<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingRandomAccessFile name="RollingRandomAccessFileAppender" fileName="logs/app.log"
                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="1 KB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="RollingRandomAccessFileAppender" />
    </Root>
    <Logger level="ERROR" name="org.springframework" >
    	<AppenderRef ref="ConsoleAppender"/>
    </Logger>
    <Logger level="ERROR" name="org.springframework.test.context" >
    	<AppenderRef ref="ConsoleAppender"/>
    </Logger>
    
  </Loggers>
</Configuration>